<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Third part</title>
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="https:/www.unpkg.com/vue"></script>
  </head>
  <body>
    <h1>Multiple instances</h1>
    <div id="vue-app-one">
      <h2>{{title}}</h2>
      {{greet}}

    </div>
    <div id="vue-app-two">
      <h2>{{title}}</h2>
      {{greet}}
      <button type="button" name="button" @click="change()">Change one title</button>
    </div>


    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
