<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>VueJS tutorials</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue">
    </script>
  </head>
  <body>

    <div id="vue-app1">
      <h1>Data Binding</h1>
      <h1>{{greet("night")}}</h1>
      <p>Name : {{ name }}</p>
      <a v-bind:href="website">The Net Ninja</a>
      <input type="text" name="" v-bind:value="name"/ >
      <p v-html="websiteTag">Bok</p>


    </div>
    <div id="vue-app2">
      <h1>Events</h1>
      <button v-on:click.once="add(1)">Add a year</button>
      <button v-on:click="sub(1)">Sub a year</button>
      <button v-on:dblclick="add(10)">Add 10 year</button>
      <button v-on:dblclick="sub(10)">Sub 10 year</button>

      <p>My age is {{age}}</p>
      <div id="canvas" v-on:mousemove="updateXY">
        {{x}},{{y}}
      </div>
      <a @click.prevent="click" href="http://www.thenetninja.co.uk">The Net Ninja</a>
    </div>

    <div id="vue-app3">
      <h1>Keyboard events</h1>
      <label>Name:</label>
      <input type="text"@keyup='logName'/>
      <span>{{name}}</span>
      <label>Age:</label>
      <input type="text"@keyup='logAge' />
      <span>{{age}}</span>
    </div>
    <div id="vue-app4">
      <h1>Two way data Binding && Computed properties</h1>
      <label>Name:</label>
      <input type="text" v-model="name"/>
      <span>{{name}}</span>
      <label>Age:</label>
      <input type="text" v-model="age" />
      <span>{{age}}</span>

      <button @click ="a++">Add to A</button>
      <button @click ="b++">Add to B</button>
      <p>A-> {{a}}</p>
      <p>B-> {{b}}</p>
      <p>Age + A = {{addToA}}</p>
      <p>Age + B = {{addToB}}</p>
    </div>
    <div id ="vue-app5">
      <h1>Dynamic CSS</h1>
      <h2>Example 1</h2>
      <!--  <div @click="available=!available" v-bind:class="{available:available}">
          <span>Ryu</span>
        </div>-->
      <h2>Example 2</h2>
      <button @click="nearby=!nearby">Toggle nearby</button>
      <button @click="available=!available">Toggle available</button>
      <div v-bind:class='compClasses'>
        <span>Ryu</span>
      </div>
    </div>

    <div id="vue-app6">
      <h1>Conditionals</h1>
      <button @click="err=!err">Toggle Error</button>
      <button @click="succ=!succ">Toggle Success</button>
      <!--<p v-if="err">There has been an error</p>
      <p v-else-if="succ">Success!!</p>-->
      <p v-show="err">there has been an Error</p>
      <p v-show="succ">Success!!!</p>
    </div>

    <div id="vue-app7">
      <h1>Looping through the lists</h1>
      <ul>
        <li v-for="character in characters">
        {{character}}</li>
      </ul>
      <ul>
        <li v-for="ninja,index in ninjas">
        {{index+1 }} - {{ninja.name}} - {{ninja.age}} </li>
      </ul>
      <template v-for="ninja in ninjas">
        <span>{{ninja.name}} ..</span>
        <span>age {{ninja.age}}</span>
      </template>
      <template v-for="ninja in ninjas">
        <div v-for="(val,key) in ninja">
          {{key}} -> {{val}}
        </div>
      </template>
      </div>

    <script src="app.js"></script>
  </body>
</html>
