<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="https:/www.unpkg.com/vue"></script>
  </head>
  <body>
    <greeting></greeting>
    <h1></h1>
    <div id="vue-app-one">
      <greeting></greeting>
      <input type="text" ref="input">
      <button type="button" name="button" @click="readRefs()">Submit</button>
      <p>Your fave food. {{output}}</p>
      <div ref="test">hello

      </div>
    </div>

    <div id="vue-app-two">
      <greeting></greeting>
    </div>


    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
