<template>
  <div >
    <appHeader v-bind:title="title"></appHeader>
<!--
<appHeader v-bind:title="title" v-on:changeTitle="updateTitle($event)"></appHeader>
-->
    <appMain v-bind:peops="peops"></appMain>
    <appFooter v-bind:title="title"></appFooter>
  </div>
</template>



<script>
//local import
//import Newer from './Newer.vue'
import Header from './components/Header.vue'
import Footer from './components/Footer.vue'
import Peops from './components/Peops.vue'
export default {
  components:{
    'appHeader':Header,
    'appMain': Peops,
    'appFooter':Footer
  },
  data () {
    return {
        peops:[
          {name:'Rho' ,speciality:'Angular', show:false},
          {name:'Milan' ,speciality:'Vanilla', show:false},
          {name:'Jorg' ,speciality:'Vue', show:false},
          {name:'Philip' ,speciality:'Css', show:false},
          {name:'Matt' ,speciality:'Html', show:false},
          {name:'Nina' ,speciality:'React', show:false}
        ],
        title: 'Vue component'
    }
  },
    methods:{
  //    updateTitle:function (newString) {
  //      this.title = newString;

  //    }
    }
  //accessing from method to

  //  test:function () {
  //    this.ninjas
  //  }
  //}
}
</script>

<style >
</style>
