<template >
  <div>
    <form-helper>
      <div slot="form-header">
        <h3>Form One - contact us</h3>
        <p>Fill in this form to contact us</p>
      </div>
      <div slot="form-fields">
        <input type="text" placeholder="name" required>
        <label>Your message:</label>
        <textarea></textarea>
      </div>
      <div slot="form-control">
        <button @click = "handleSubmit">Send</button>
      </div>
    </form-helper>
  </div>
</template>

<script>
import formhelper from './formHelper.vue'
export default {
  components:{
    'form-helper':formhelper
  },
  data(){
    return{

    }
  },
  methods:{
    handleSubmit:function () {
      alert("Sent");

    }
  }
}
</script>

<style lang="css">
</style>
