<template>
  <div>
    <h1>Please fill out our form</h1>
    <form class="" action="index.html" method="post">
      <div id="form-header">
        <slot name="form-header"></slot>
      </div>
      <div id="form-fields">
        <slot name="form-fields"></slot>
      </div>
      <div id="form-control">
        <slot name="form-control"></slot>
      </div>
      <div id="useful-links">
        <ul>
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </div>
    </form>
  </div>
</template>

<script>

export default {
  components:{

  },
  data(){
    return{
    }
  },
  methods:{

  }
}
</script>

<style scoped>
ul{
  list-style-type: none;

}
li{
    float:left;
}
form > div {
  padding: 20px;
  background:  #eee;
  margin: 20px 0;
}

</style>
