<template >
  <footer>
    <p>{{copyright}} {{title}}</p>
  </footer>
</template>


<script>
import {bus} from '../main.js'

export default {
  props:{
    title:{
      type: String,
      required: true
    }
  },
  data(){
    return{
      copyright: 'Copyright 2018'
    }
  },
  created(){//when this is created it fires!
    bus.$on('titleChanged', (data) => {
    this.title = data;
    })
  }
}
</script>

<style scoped>

footer{
  background-color: #222;
  padding: 6px;
}
p{
  color: lightgreen;
  text-align: center;
}
</style>
