<template>
  <header>
    <h1 v-on:click="changeTitle">{{title}}</h1>
  </header>

</template>

<script>
import {bus} from '../main.js'
export default {
  props:{
    title:{
      type: String,
      required:true
    }
  },
  data(){
    return{
    }
  },
  methods:{
    changeTitle:function () {
      //this.$emit('changeTitle','Hi peops!!!')
      this.title = "Vueeee"
      bus.$emit('titleChanged', 'I did it');
    }
  }
}
</script>

<style scoped>
header{
  background-color: lightgreen;
  padding: 10px;
}
h1{
  color: #222;
  text-align: center;
}

</style>
