<template>
  <div id = "peops">
    <ul>
      <li v-for="peop in peops" @click="peop.show=!peop.show">
        <p>
          {{peop.name}}
        </p>
        <p v-show="peop.show">{{peop.speciality}}</p>
      </li>
    </ul>
    <button type="button" name="button" @click="deletePeop()">Delete</button>
  </div>
</template>

<script>
export default {
  // short way
  //props:['peops'],
  //type check!!
  props:{
    peops:{
      //it fails if its not an array
      type: Array,
      //if you need it and you want it to fail if its not then
      required:true
    },
  },
  data(){
    return{
    }
  },
  methods:{
    deletePeop:function () {
      this.peops.pop();
    }
  },
  //lifecycle hooks
  beforeCreate(){
    alert('beforeCreate');
  },
  created(){
    alert('created - good for fetching data from database');
  },
    beforeMounted(){
      alert('before mounted');
    },
    mounted(){
      alert('mounted');
    },
    beforeUpdate(){
      alert('before Update');
    },
    updated(){
      alert('Update');
    }

}
</script>

<style scoped>
#peops{
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
  box-sizing: border-box;
}
ul{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding:0;

}
li{
  float: left;
  flex-grow: 1;
  flex-basis: 300px;
  text-align: center;
  padding:30px;
  border: 1px solid #222;
  margin: 10px;
}

</style>
