<template>
  <div id='addblog'>
    <h2>Add a new blogpost</h2>
    <form method="post" v-if="!submitted">
      <label for="">Blog title</label>
      <input type="text" v-model.lazy="blog.title" required>
      <label>Blog content:</label>
      <textarea v-model.lazy="blog.content"></textarea>
      <div id="checkboxes">
        <label>Peops</label>
        <input type="checkbox" value="peops" v-model="blog.categories"/>
        <label>Guys</label>
        <input type="checkbox" value="guys" v-model="blog.categories"/>
        <label>Fam</label>
        <input type="checkbox" value="fam" v-model="blog.categories"/>
        <label>OldSport</label>
        <input type="checkbox" value="oldsport" v-model="blog.categories"/>
      </div>
      <label>Author</label>
      <select v-model="blog.author">
        <option v-for="author in authors">{{author}}</option>
      </select>
      <button @click.prevent="postfunct">Add blog</button>
    </form>
    <div v-if="submitted">
      <h3>Thanks for adding post</h3>
    </div>
    <div id="preview">
      <h3>Preview blog</h3>
      <p>Blog title: {{blog.title}}</p>
      <p>Blog content:</p>
      <p>{{blog.content}}</p>
      <p>Blog categories</p>
      <ul>
        <li v-for="cat in blog.categories">{{cat}}
        </li>
      </ul>
      <p>Author: {{blog.author}}</p>

    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      blog:{
        title:"",
        content:"",
        categories: [],
        author:""
      },
      authors:[ 'Hugh', 'Jack', 'Anna', 'Mia'],
      submitted: false,
    }
  },
  methods:{
    postfunct:function () {
      this.$http.post('https://tryout-74c2e.firebaseio.com/posts.json',this.blog).then(function(data){
        console.log(data);
        console.log(this.submitted);
        this.submitted = true;
      });

    }
  }
}
</script>

<style>
#addblog *{
  box-sizing: border-box;
}
#addblog{
  margin: 20px auto;
  max-width: 500px;
}
label{
  display: block;
  margin: 20px 0 10px;
}
input[type:"text"],textarea{
  display: block;
  width: 100%;
  padding: 8px;
}
#preview{
  padding: 10px 20px;
  border: 1px dotted #ccc;
  margin: 30px 0;
}
h3{
  margin-top: 10px;
}
#checkboxes input{
  display: inline-block;
  margin-right: 10px;
}
#checkboxes label{
  display: inline-block;
}
</style>
