<template>
  <div v-theme:column="'wide'" id="show-blogs">
    <h1>All Blog articles</h1>
    <input type="text" v-model="search" placeholder="Searchbox">

    <div v-for="blog in filteredBlogs" class="single-blog">
      <router-link v-bind:to='"/blog/" + blog.id'>
        <h2 v-rainbow >{{blog.title | toUppercase}}</h2>
      </router-link>
      <article>{{blog.content | snippet}}</article>
    </div>
  </div>
</template>

<script>
import searchMixin from '../mixins/searchMixin'
export default {
  data(){
    return{
      blogs:[],
      search:""
    }
  },
  methods:{
  },
  created(){
    this.$http.get('https://tryout-74c2e.firebaseio.com/posts.json').then(function(data) {
      return data.json();
    }).then(function (data) {
      var blogsArray = [];
      for (let key in data){
        //console.log(key);
        data[key].id = key;
        blogsArray.push(data[key]);
      }
      this.blogs=blogsArray;
      console.log(blogsArray);
    //  console.log(data);

    })
  },
  filters:{
    toUppercase(value) {
      return value.toUpperCase();
//      'to-uppercase': function (value) {
//        return value.toUpperCase();

    }
  },
  directives:{
    'rainbow':{
      bind(el, binding, vnode){
        el.style.color = '#'+ Math.random().toString().slice(2,8);
      },
    }
  },
  mixins:[searchMixin]
}



</script>

<style lang="css">
#show-blogs{
  max-width: 800px;
  margin: 0 auto;
}
.single-blog{
  padding: 20px;
  margin: 20px 0;
  box-sizing: border-box;
  background: #eee;
}
</style>
