<template>
  <div id="single-blog">
    <h1>{{blog.title}}</h1>
    <article id="articles">
      {{blog.content}}
    </article>
    <p>Author: {{blog.author}}</p>
    <p>Categories:</p>
    <ul>
      <li v-for="cat in blog.categories">
      {{cat}}</li>
    </ul>
  </div>

</template>

<script>
export default {
  data(){
    return{
      id: this.$route.params.id,
      blog:{}
    }
  },
  created(){
   this.$http.get('https://tryout-74c2e.firebaseio.com/posts/'+ this.id + '.json').then(function (data) {
    return data.json();
  }).then(function (data) {
    this.blog = data;
  });
  }
}
</script>

<style lang="css">
#single-blog{
  max-width: 960px;
  margin: 0 auto;

}
#articles{
  max-width: 960px;
  margin:20px auto;
}
ul{
  text-decoration: none;
  text-align: left;
}

</style>
