<template>
  <!--<div>
    <form-helper>
      <div slot="form-header">
        <h3>This is the title</h3>
        <p>Info about the form</p>
      </div>
      <div slot="form-fields">
        <input type="text" placeholder="name" required>
        <input type="password" placeholder="password" required>
      </div>
      <div slot="form-control">
        <button @click="handleSubmit" type="button" name="button">Submit</button>
      </div>
    </form-helper>
  </div>-->
  <div>
    <keep-alive>
      <component v-bind:is = "component"></component>
    </keep-alive>
    <button @click="component='form-one'">Show form one</button>
    <button @click="component='form-two'">Show form two</button>

  </div>
</template>

<script>
import formOne from './components/formOne.vue'
import formTwo from './components/formTwo.vue'
//import formhelper from './components/formHelper.vue'
export default {
  components:{
    //'form-helper':formhelper
    'form-one':formOne,
    'form-two':formTwo
  },
  data () {
    return {
    //  name1:"I'm dynamic the slot title"
    component: 'form-one'
    }
  },
  methods:{

  }
}
</script>

<style>

</style>
