<template>
  <div>
    <app-header></app-header>
    <router-view></router-view>
  </div>
</template>

<script>

import addblog from './component/addBlog.vue'
import showblogs from './component/showBlogs.vue'
import listBlogs from './component/listBlogs.vue'
import header from './component/header.vue'

export default {
  components:{
    'add-blog': addblog,
    'show-blogs': showblogs,
    'list-blogs': listBlogs,
    'app-header': header
  },
  data () {
    return {

    }
  }
}
</script>

<style>
body{
   margin: 0;
   font-family: 'Georgia'
}

</style>
